[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "3rdparty/Eigen"]
	path = 3rdparty/Eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "3rdparty/cmake"]
	path = 3rdparty/cmake
	url = https://gitlab.kitware.com/ChrisTX/cmake.git
	branch = add-findmkl-module
